<footer>
	<h4>Methodology</h4>
	<p>
		We used flights data from <a href="https://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=FIM">BTS T-100 Domestic Segment (U.S. Carriers)</a> 
		data from August 2022. We considered only non-empty Passenger flights (Service Class F) 
		in the contiguous United States, carried out by the biggest US air carriers (as defined 
		by BTS as "Certified U.S. air carriers that account for at least one percent of domestic 
		scheduled passenger revenues". Airport data is from <a href="https://ourairports.com/data/">OurAirports</a>. We only considered
		medium-size and large airports with scheduled service.
	</p>
	<p>
		Spoke distances were calculated using airport distance and do not take into account actual flight paths.
		We considered spokes "replaceable with one additional layover" at a range R if there is at least one
		intermediate airport that can reach the spoke's origin and destination within the range R.
	</p>
	<p>
		Emissions were approximated at 144.2g CO2 per-seat-per-mile based on the
		<a href="https://www.iba.aero/news/aviation-emissions-rise-slightly-iba-data-shows/">IBA Aviation Carbon Emissions Index</a>.
		We calculated emissions based on passenger count and spoke distance. This does not take into account
		actual flight paths, empty seats, aircraft or engine types, or secondary effects like contrails.
	</p>
</footer>

<style>
	footer {
		width: 750px;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		align-items: center;
		color: var(--neutral-500);
	}

	p, h4 {
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
		letter-spacing: 0em;

		a {
			color: inherit;
		}
	}

	h4 {
		text-transform: uppercase;
	}

</style>
